#home_page_title{
  font-size: 50px;
}

body {
    margin: 0;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .games-section {
    margin-top: 50px;
}
